
.wjs_icon{
    font-family: wjs_font_icon;
}
.wjs_icon_phone::before{
    content: "\e908";
}
.wjs_icon_tel::before{
    content: "\e909";
}
.wjs_icon_logo::before{
    content: "\e920";
}
.wjs_icon_name::before{
    content: "\e93e";
}
.wjs_icon_info::before{
    content: "\e903";
}
.wjs_icon_clock::before{
    content: "\e906";
}
.wjs_icon_video::before{
    content: "\e905";
}
.wjs_icon_news_01::before {
    content: "\e90e";
}

.wjs_icon_news_02::before {
    content: "\e90f";
}

.wjs_icon_news_03::before {
    content: "\e910";
}

.wjs_icon_news_04::before {
    content: "\e911";
}

.wjs_icon_partner01::before {
    content: "\e946";
}

.wjs_icon_partner02::before {
    content: "\e92f";
}

.wjs_icon_partner03::before {
    content: "\e92e";
}

.wjs_icon_partner04::before {
    content: "\e92a";
}

.wjs_icon_partner05::before {
    content: "\e929";
}

.wjs_icon_partner06::before {
    content: "\e931";
}

.wjs_icon_partner07::before {
    content: "\e92c";
}

.wjs_icon_partner08::before {
    content: "\e92b";
}

.wjs_icon_partner09::before {
    content: "\e92d";
}
