.wjs_info{
	padding: 30px 0;
}
.wjs_info .wjs_icon_info{
	font-size: 30px;
}
.wjs_info .media{
	padding: 15px 0;
	display: block;
}
.wjs_info .media:hover{
	color: #e92322;
}
.wjs_info > .container{
	width: 900px;
}
/*在小屏设备  需要版心容器 750px*/
@media (min-width: 768px) and (max-width: 992px){
	.wjs_info > .container{
		width: 750px;
	}
}
