.wjs_product{
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    background: #f5f5f5;
    border-bottom: solid 1px #CCCCCC;
    overflow: hidden;
}
.wjs_product .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.wjs_product .nav-tabs > li {
    float: left;
    margin-bottom: 0;
    margin-left: 15px;
}
.wjs_product .nav-tabs > li > a {
    margin-right: 0;
    line-height: 1.42857143;
    border: none;
    border-radius: 0;
}
.wjs_product .nav-tabs > li > a:hover {
    background: #f5f5f5;
}
.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 3px solid #e92322;
}
.wjs_product .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.wjs_product .nav-tabs.nav-justified > li {
    float: none;
}
.wjs_product .nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.wjs_product .nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

.wjs_product .tab-content #c1 a{
    height: 150px;
    margin-top: 25px;
    background-color: #FFFFFF;
    display: block;
    box-shadow: 2px 2px 5px #CCCCCC;
    width: 100%;
    position: relative;
}
.wjs_product .tab-content #c1 .a1{
    background-color: red;
    color: white;
}

.wjs_product .tab-content #c1 .box_right{
    width: 25%;
    float: right;
    height: 100%;
    border-left: dashed  1px red;
    position: relative;
}

.wjs_product .tab-content #c1 .box_right b{
    font-size: 48px;
    text-align: center;
    color:red;
    line-height: 100px;
    margin-left: 10px;

}
.wjs_product .tab-content #c1 .box_right sub{
    font-size: 18px;
    color: red;

}
.wjs_product .tab-content #c1 .box_right .n{
    font-size: 14px;
    color: red;
    margin-left: 10px;

}
.wjs_product .tab-content #c1 .box_left .text-center{
    margin-top: 20px;
    line-height: 36px;
}
.wjs_product .tab-content #c1 .box_left p{
    font-size: 10px;
}
.wjs_product .tab-content #c1 .box_left{
    height: 150px;
    width: 75%;

}
.wjs_product .tab-content #c1 .box_left div{
    text-align: center;
}

.wjs_product.active .box_right p:first-of-type{
    color: #fff;
}
.wjs_product .tab-content #c1 .a1 b{
    color: white;
}
.wjs_product .tab-content #c1 .a1 sub{
    color: white;
}
.wjs_product .tab-content #c1 .a1 .n{
    color: white;
}
.wjs_product .tab-content #c1 .a1 .box_right{
    border-left: dashed 1px white;
}
.wjs_product .box_right::before{
    top: -6px;
    box-shadow: inset 0 -2px 3px #d8d8d8;
}
.wjs_product .box_right::after{
    bottom: -6px;
    box-shadow: inset 0 2px 3px #d8d8d8;
}
.wjs_product .box_right::before,
.wjs_product .box_right::after{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: -6px;
    background: #f5f5f5;
    border-radius: 6px;
}
.wjs_product .box_right::before{
    top: -6px;
    box-shadow: inset 0 -2px 3px #d8d8d8;
}