*{
	padding: 0;
	margin: 0;
}
/*<!--顶部通栏开始-->*/
.wjs_top{
	width: 100%;
 	border-top: #DCDCDC 1px;
 	border-bottom: solid #C0C0C0 1px;
 	height: 40px;
}

.wjs_container{
	padding-left: -15px;
  	padding-right: -15px;
}

.wjs_top .wjs_container div{
	border-right: solid #CCCCCC 1px;
 	height: 40px;
 	line-height: 40px;
 	text-align: center;
 	position: relative;
 	
}

.wjs_top .wjs_container div img{
	
	display: none;
}

.wjs_top .wjs_container #phone:hover img{
	display: block;
	border: solid 2px #C0C0C0;
	border-top: none;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -60px;
	z-index: 100;
}

.wjs_top .wjs_container div input{
	background: #e92322;
    color: #fff;
    border: none;
    padding: 3px 10px;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    border-radius: 7px;
}

 a{
    color: #666;
    font-size: 12px;
}
a:hover{
    color: #666;
    text-decoration: none;
}

/*<!--顶部通栏结束-->*/